<a href="https://colab.research.google.com/github/rodirk/spezielle_bioinfo_2_22/blob/main/baum_klassifikation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Baum Klassifikation

Aufgabe ist es Bäume anhand verschiedener Messwerte (Stammdurchmesser, Kronenradius, Höhe, Geographischer Ort) ihrer jeweiligen Art zuzuweisen. Die Daten stammen von [Tallo: A global tree allometry and crown architecture database](https://onlinelibrary.wiley.com/doi/10.1111/gcb.16302).

## Setup

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

### Data Loading

In [3]:
data = pd.read_csv("https://raw.githubusercontent.com/ddojo/ddojo.github.io/main/sessions/14_trees/train.tsv", sep="\t")

In [4]:
X = data.dropna().drop("species",axis=1)
y = data.dropna().species
X_train, X_val, y_train, y_val = train_test_split(X, y, random_state=42)

#### Test data for later (ignore for now)

In [9]:
test = pd.read_csv("https://raw.githubusercontent.com/ddojo/ddojo.github.io/main/sessions/14_trees/test.tsv", sep="\t")
X_test = test.dropna().drop("tree_id",axis=1)
tree_id = test.dropna().tree_id
pred = pd.DataFrame()
pred["tree_id"] = tree_id
pred["species"] = "unknown"

## Explore Data

In [6]:
data

,species,latitude,longitude,stem_diameter_cm,height_m,crown_radius_m
0,Fagus sylvatica,46.01,11.44,5.0,6.7,2.05
1,Fagus sylvatica,46.03,11.44,5.0,11.1,2.90
2,Fagus sylvatica,46.03,11.44,5.0,14.2,4.00
3,Fagus sylvatica,46.03,11.44,5.0,5.7,2.10
4,Fagus sylvatica,46.03,11.44,5.0,8.0,4.15
...,...,...,...,...,...,...
35094,Fagus sylvatica,47.38,9.09,36.0,22.6,4.50
35095,Fagus sylvatica,46.74,6.85,37.0,34.3,4.50
35096,Fagus sylvatica,47.45,9.29,38.0,33.8,5.00
35097,Fagus sylvatica,46.52,6.35,40.0,29.3,6.00
35098,Fagus sylvatica,47.31,8.99,59.0,36.9,7.00

In [ ]:
# Add your own exploration (e.g. plots)

## Train Models

### Decision Trees

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# Train some Decision Trees

### K Nearest Neighbors

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
# Train some KNN models

In [ ]:
# Train some other model types

## Save Test Predictions (for later, ignore for now)

In [ ]:
pred["species"] = model.fit(X_test)
pred.to_csv("my_prediction.tsv", sep="\t")